#banda {
    background-color: rgb(112, 112, 239);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    height: 100px;
    background-size: 30%;
    
}

#pattern {
    height: 100px;
}

#logo {
    height: 40px;
}
 
.subtitle {
    color: grey;
    margin-bottom: 20px;
}

#booleaner {
    color: aqua;
}

#data {
    font-size: 14px;
}

#description {
    font-size: 12px;
    margin-top: 0px;
}
